<p>Template Driven Form</p>

<form #regUserForm="ngForm" (ngSubmit)="UserRegistration(regUserForm)">

    <div>
        <input type="text" placeHolder="First Name" name="firstName" ngModel required>
    </div>
    <div>
        <input type="text" placeHolder="Last Name" name="lastName" ngModel required>
    </div>
    <div>
        <input type="text" placeHolder="Email Id" name="emailID" ngModel required>
    </div>
    <div>
        <button class="btn" type="submit" [disabled]="!regUserForm.valid">Register</button>
        <button class="btn" type="reset">Reset</button>
    </div>

</form>